.financesBtn {
  width: 70%;
  padding: 0.5rem;
  border: 1px solid #111111;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card-transition {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Suaviza la transición */
  position: relative;
}

.card-hidden {
  transform: translateY(-100px);
  opacity: 0;
}

.card-fade {
  transition: opacity 0.5s ease-in-out;
}

.card-fade-hidden {
  opacity: 0;
}
