.project-cards {
  margin-bottom: 30px;
  .carousel {
    .carousel-cell {
      width: 300px;
      height: auto;
      margin-right: 20px;
    }
  }
}

.flickity-prev-next-button {
  background: transparent !important;
  border-radius: 0 !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

.flickity-prev-next-button.previous {
  left: -50px;
}

.flickity-prev-next-button.next {
  right: -50px;
}

.taktik-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.taktik-label {
  font-size: 1rem;
  font-weight: bold;
  color: #007a83;
  margin-right: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007a83;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.financesBtn {
  width: 70%;
  padding: 0.5rem;
  border: 1px solid #111111;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card-transition {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: relative;
}

.card-hidden {
  transform: translateY(-100px);
  opacity: 0;
}

.card-fade {
  transition: opacity 0.5s ease-in-out;
}

.card-fade-hidden {
  opacity: 0;
}

.section-title {
  color: #e3342f;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 20px;
}

.project-cards {
  display: flex;
  flex-direction: column;
}

.project-cards {
  margin-bottom: 30px;
  .carousel {
    .carousel-cell {
      width: 300px;
      height: auto;
      margin-right: 20px;
    }
  }
}

.add-new-project-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 20px;
}

.mt-4 {
  padding: 0;
  margin: 0;
}

.project-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.indicator-green {
  background-color: #4caf50;
}

.indicator-yellow {
  background-color: #ffeb3b;
}

.indicator-red {
  background-color: #f44336;
}

.card-on-track {
  border-left: 4px solid #4caf50;
}

.card-needs-review {
  border-left: 4px solid #ffeb3b;
}

.card-off-track {
  border-left: 4px solid #f44336;
}
