.keyboard {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;

  .keypad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    flex-grow: 1;

    .key {
      padding: 15px;
      font-size: 20px;
      text-align: center;
      background-color: #f1f1f1;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  .delete-key {
    background-color: #f44336;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    flex-grow: 0;

    &:hover {
      background-color: #d32f2f;
    }
  }
}
