$primary-color: #007a87;

.admin-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    margin: 20px 0;
    text-align: center;
  }

  .error {
    color: #e30613;
    margin: 10px 0;
  }

  .ant-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }

  .ant-btn-primary {
    background-color: #007a87;
  }

  .ant-modal {
    max-width: 90%;
    width: auto;
  }

  .ant-modal-content {
    padding: 20px;
  }
}
