@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f4f5f6;
}

.phone {
  width: 375px;
  // height: 100vh;
  border: 1px solid #f4f5f6;
  box-shadow: 0 0 10px #bdb8aa;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  //padding: 20px;
}

.kbred {
  color: #E30613;
}

// .card {
//   background-color: white; /* Color de fondo para las cartas */
//   margin: 10px 0; /* Margen entre cartas */
//   padding: 20px; /* Espaciado interno para las cartas */
//   border-radius: 8px; /* Bordes redondeados opcionales */
//   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
// }

// .card-container {
//   flex-grow: 1; /* Para que las cartas ocupen el espacio restante */
//   padding: 10px; /* Espaciado interno opcional */
// }
