@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone {
    width: 375px;
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    border: 1px solid #F4F5F6;
    box-shadow: 0 0 10px #BDB8AA;
    background-color: #F4F5F6;
    font-family: 'Inter', sans-serif;
}