@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f4f5f6;
}

.phone {
  width: 375px;
  border: 1px solid #f4f5f6;
  box-shadow: 0 0 10px #bdb8aa;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}

.kbred {
  color: #e30613;
}
